<div class="container center">
    <br>
    <div id="newsFeed">
        <article class="blog_style1">
            <div class="blog_img">
                <img class="img-fluid" src="/uploads/{{news.image}}" alt="">
            </div>
            <div class="blog_text">
                <div class="blog_text_inner">
                    <a href="/news/edit/{{news.id}}"><i class="far fa-edit"></i></a>
                    <a href="/news/delete/{{news.id}}"><i class="far fa-trash-alt"></i></a>
                    <br>
                    <div class="cat">
                        <br>
                        <p> <i class="fa fa-calendar" aria-hidden="true"></i> {{date}}</p>
                    </div>
                    <a href="#">
                        <h4>{{news.title}}</h4>
                    </a>
                    <p>{{news.body}}</p>
                </div>
            </div>
        </article>
    </div>
    <br>
<a href="/news/" class="btn btn-danger">Cancel</a>
</div>